!!!
%html{lang: 'hu', prefix: 'og: http://ogp.me/ns#'}
  %head
    %title= @texts['title']
    %meta{charset: 'utf-8'}
    %link{href: 'stylesheets/style.css', rel: 'stylesheet'}
    %link{href: 'https://fonts.googleapis.com/css?family=Raleway:400,600,700|Roboto', rel: 'stylesheet'}
    %link{rel: 'stylesheet', href: 'https://use.fontawesome.com/releases/v5.0.9/css/all.css', integrity: 'sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1', crossorigin: 'anonymous'}
%body
  %header.green
    %h2= @texts['main-header']
  %section.title
    %img{src: 'images/konnekt_live-logo.png', alt: 'Konnekt Live logo'}
  %section.white
    %h2
      = @texts['white-header-1']
      %br
      = @texts['white-header-2']
    .row
      .icon
        %span.far.fa-calendar-check
        %h3= @texts['date-title']
        %p= @texts['date-description']
      .icon
        %span.fas.fa-user-md
        %h3= @texts['prof-title']
        %p= @texts['prof-description']
      .icon
        %span.fas.fa-users
        %h3= @texts['students-title']
        %p= @texts['students-description']
    .row
      .icon
        %span.far.fa-comments
        %h3= @texts['talks-title']
        %p= @texts['talks-description']
      .icon
        %span.far.fa-thumbs-up
        %h3= @texts['stories-title']
        %p= @texts['stories-description']
      .icon
        %span.fas.fa-user-circle
        %h3= @texts['ex-title']
        %p= @texts['ex-description']
  %section.green
    %h2= @texts['loc-title']
    .row
      .icon
        %a{href: @texts['loc-link']}
          %span.fas.fa-map-marker-alt
          %h3= @texts['loc-subtitle']
          %p= @texts['loc-description']
  %section.grey
    %h2.text
      = @texts['info-1']
      %br/
      = @texts['info-2']
  %section.grey
    %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/#{@texts['youtube-id']}?rel=0", :width => "560"}
  %section.green.bottom
    %h2{id: 'newsletter'}= @texts['news-title']
    - unless @success
      %h6.text= @texts['news-description']
      %form{method: 'post'}
        %input{name: 'email', class: 'email', placeholder: 'Email cím'}
        %input{type: 'submit', value: 'Feliratkozom'}
    - else
      %h6= @texts['news-success']
  %section.white
    .scroller
      %a.onwhite{id: 'to-top', href: '#'}
        %img{src: 'images/arrow.png'}
        = @texts['to-top']
    %h4
      %a.email.onwhite{href: "mailto:#{@texts['email']}"}= @texts['email'] 
    %h3
      %a.onwhite{href: 'http://knnkt.org', target: '_blank'}
        ©2018 Konnekt Egyesület
      .social
        %a.onwhite{:href => "https://www.facebook.com/konnektmentorprogram", :target => "_blank"}
          %i.fab.fa-facebook-square
        %a.onwhite{:href => "https://www.youtube.com/channel/UCec5Hmtp-Vuv2aNZhZBga3w", :target => "_blank"}
          %i.fab.fa-youtube
        %a.onwhite{:href => "https://www.instagram.com/konnektmentorprogram/", :target => "_blank"}
          %i.fab.fa-instagram
  %script{:crossorigin => "anonymous", :integrity => "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", :src => "https://code.jquery.com/jquery-3.3.1.min.js"}
  - if @success
    :javascript
      $(()=>{
        $('html, body').animate({
          scrollTop: $("#newsletter").offset().top
      }, 1000);
      })
  :javascript
    $('#to-top').on('click', (e) => {
      e.preventDefault()
      $('html, body').animate({
        scrollTop: 0
    }, 1000);
    })
