!!!
%html{lang: 'hu', prefix: 'og: http://ogp.me/ns#'}
  %head
    %title= @texts['title']
    %meta{charset: 'utf-8'}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{href: 'stylesheets/style9.css', rel: 'stylesheet'}
    %link{href: 'https://fonts.googleapis.com/css?family=Raleway:400,600,700|Roboto:300,400', rel: 'stylesheet'}
    %link{rel: 'stylesheet', href: 'https://use.fontawesome.com/releases/v5.0.9/css/all.css', integrity: 'sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1', crossorigin: 'anonymous'}
    %meta{content: @texts['title'], property: "og:title"}/
    %meta{content: "website", property: "og:type"}/
    %meta{content: "http://www.konnektlive.com", property: "og:url"}/
    %meta{content: "http://www.konnektlive.com/images/konnektlive_header.png", property: "og:image"}/
    %meta{content: @texts['og-desc'], property: 'og:description'}

%body
  %header.green.centered
    %h2.rotate-l2= @texts['main-header']
  %section.title.strict
    %img{src: 'images/konnekt_live_logo_white.png', alt: 'Konnekt Live logo'}
    .profs
      - @professions.each_with_index do |prof, index|
        - if prof[1]['image']
          %h4{id: "prof-#{index}", class: "prof-item #{@rotations.sample} #{(index % 2 == 0) ? 'blue' : 'purple'}", 
            data: prof[1]}= prof[1]['title']
      %h4{class: "#{@rotations.sample} green"}= @texts['and-more']
  %section.profession.green.closed.strict
    %img#prof_image{src: 'https://firebasestorage.googleapis.com/v0/b/konnektlive.appspot.com/o/To%CC%81th%20A%CC%81gi.JPG?alt=media&token=2684f4ff-b177-48e7-a7da-f9d652d23a91', alt: 'Toth Agi'}
    .details
      .close.icon
        %span.fas.fa-times
      %h2#prof_title{class: "#{@rotations.sample}"} Ruhatervezo
      %h3#prof_name Toth Agi
      %p#prof_description
        Elismert menekültekkel és oltalmazotti sátuszú emberekkel foglalkozom, akik hazájukat kényszerűségből elhagyva itt, nálunk kezdhetnek új életet. Munkám része a státusz megítélése utáni lépések: az elsődleges életfeltételekhez segítés (lakás, élelmiszer, munka), az egészségügyi- és egyéb ellátásokhoz jutás, a szociális és kulturális integráció segítése, pszichés támogatás, stb. Kisgyerekektől idős korig százféle életút, százféle igény, s ezer megoldási lehetőség színesítik a mindennapjaimat!
  %section.white.main.strict
    %h1.rotate-r1.blue
      = @texts['white-header-1']
    %h2.rotate-l1.purple
      = @texts['white-header-2']
    .row
      .icon
        %span.far.fa-calendar-check
        %h3.rotate-l1= @texts['date-title']
        %p= @texts['date-description']
      .icon
        %span.fas.fa-user-md
        %h3.rotate-l2= @texts['prof-title']
        %p= @texts['prof-description']
      .icon
        %span.fas.fa-users
        %h3.rotate-r2= @texts['students-title']
        %p= @texts['students-description']
    .row
      .icon
        %span.far.fa-comments
        %h3.rotate-r1= @texts['talks-title']
        %p= @texts['talks-description']
      .icon
        %span.far.fa-thumbs-up
        %h3.rotate-l1= @texts['stories-title']
        %p= @texts['stories-description']
      .icon
        %span.fas.fa-user-circle
        %h3.rotate-r1= @texts['ex-title']
        %p= @texts['ex-description']
  %section.green.centered.whitened.strict
    %h2= @texts['loc-title']
    .row
      .icon
        %a{href: @texts['loc-link']}
          %span.fas.fa-map-marker-alt
          %h3.rotate-r2= @texts['loc-subtitle']
          %p= @texts['loc-description']
  %section.grey.strict
    %h5.text
      = @texts['info-1']
      %br/
      = @texts['info-2']
  %section.grey.strict
    %figure
      %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/#{@texts['youtube-id']}?rel=0", :width => "560"}
  %section.green.bottom.centered.whitened.strict#registration
    %h2{id: 'newsletter'}= @texts['reg-title']
    - unless @success
      %h6.text= @texts['reg-description']
      - if (@errors && !@errors.empty?)
        %p.error.purple= @errors.join(" ")
      %form{method: 'post', action: '/reg'}
        %input{name: 'reg[email]', class: 'email full', placeholder: 'Email cím', type: 'email', required: 'true', value: params['reg']['email']}
        %input{name: 'reg[name]', class: 'email full', placeholder: 'Teljes neved', type: 'name', required: 'true', value: params['reg']['name']}
        %input{name: 'reg[year]', class: 'email full', placeholder: 'Születési éved', type: 'number', required: 'true', value: params['reg']['year']}
        %input{name: 'reg[school]', class: 'email full', placeholder: 'Iskolád neve', type: 'text', required: 'true', value: params['reg']['school']}
        %h6 Ezek a szakmák érdekelnek:
        .prof-checks
          - @professions.each do |prof|
            - if prof[1]['title']
              .prof
                %input{name: "prof[]", value: prof[0], type: 'checkbox', id: "prof-#{prof[0]}", checked: params['prof'] && params['prof'].include?(prof[0])}
                %label{for: "prof-#{prof[0]}"}= prof[1]['title']
        .row
          %input{name: 'reg[news]', type: 'checkbox', id: 'news-cb', value: 'registered'}
          %label{for: 'news-cb'}
            = @texts['reg-news']
        .row
          %input{name: 'reg[terms]', type: 'checkbox', id: 'terms-cb', value: 'accepted'}
          %label{for: 'terms-cb'}
            Az
            %a{href: @texts['terms-url'], target: '_blank'}= @texts['terms-title']
            \-et elfogadom
        %input{type: 'submit', value: @texts['reg-button'], class: 'full button'}
    - else
      %h6= @texts['reg-success']
  %section.white.centered
    .scroller
      %a.onwhite{id: 'to-top', href: '#'}
        %img{src: 'images/arrow.png'}
        = @texts['to-top']
    %h4
      %a.email.onwhite{href: "mailto:#{@texts['email']}"}= @texts['email'] 
    %h3
      %a.onwhite{href: 'http://knnkt.org', target: '_blank'}
        ©2018 Konnekt Egyesület
      .social
        %a.onwhite{:href => "https://www.facebook.com/konnektmentorprogram", :target => "_blank"}
          %i.fab.fa-facebook-square
        %a.onwhite{:href => "https://www.youtube.com/channel/UCec5Hmtp-Vuv2aNZhZBga3w", :target => "_blank"}
          %i.fab.fa-youtube
        %a.onwhite{:href => "https://www.instagram.com/konnektmentorprogram/", :target => "_blank"}
          %i.fab.fa-instagram
    .empty
  %script{:crossorigin => "anonymous", :integrity => "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", :src => "https://code.jquery.com/jquery-3.3.1.min.js"}
  - if @success || (@errors && !@errors.empty?) || params['from_reg']
    :javascript
      $(()=>{
        $('html, body').animate({
          scrollTop: $("#registration").offset().top
      }, 1000);
      })
  :javascript
    $('#to-top').on('click', (e) => {
      e.preventDefault()
      $('html, body').animate({
        scrollTop: 0
    }, 1000);
    })
    $('.profs .prof-item').on('click', (e) => {
      $('#prof_title').text($(e.target).data('title'))
      $('#prof_name').text($(e.target).data('name'))
      $('#prof_description').text($(e.target).data('long'))
      $('#prof_image').attr('src', $(e.target).data('image'))
      if($('.profession').hasClass('closed')) {
        $('.profession').removeClass('closed')
        $('html, body').animate({
            scrollTop: $(".main").offset().top - 100
        }, 500);
      }
    })
    $('.profession span').on('click', (e)=> {
      $('.profession').addClass('closed')
      $('html, body').animate({
            scrollTop: $(".title").offset().top
        }, 300);
    })
    console.log("bla")
    $('.profs .prof-item').each((i, item) => {
      let image = new Image()
      console.log("bla" + $(item).data('image'))
      image.src = $(item).data('image')
      $(".empty").append(image)
    })
